$purple:#c249fe;
$violet:#ae51ff;
$blue:#606aff;
$dark_violet:#2A1328;

.a{
  color:white;
}
.a:hover{
  color:white;
}
html,body{
  margin:0;
}

// Navbar
.my{
  color:$dark_violet;
  text-decoration: underline;
  font-weight: bold;
}
.head-container{
  padding-top: 1em;
  background-image: linear-gradient(to bottom right,$blue,$violet,$purple);
  background-color: rgba(0,0,0,0.3);
  background-blend-mode:hue;
  padding-left: 2em;
}
.navbar{
  display: flex;
  justify-content: center;
}
.nav-content{
  margin-left: 25em;
}
.weather-report{
  color:$dark_violet;
  font-family: 'Sansita Swashed';
  font-size: 2.1em;
  position: absolute;
  left:23%;
}
.nav-item{
  display: inline;
  font-family: 'Merriweather Sans';
  font-size:1em;
  margin-left:3em;
}
.my:hover{
  color:white;
  font-weight: lighter;
}

// Header Content
.head-pics{
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
.head-pics .row{
  width:50%;
}
.cols{
  padding-left: 5em;
}
.drop{
  height:4em;
}
.flash{
  height:4em;
}
.head-body{
  text-align:  center;
  margin-top: 2em;
  padding-bottom: 2em;
}
.head-header{
  font-family: 'Raleway';
  font-size: 3em;
  color:white;
  transform:scaleY(1.1);
  font-weight: bold;
}
.head-para{
  @extend .head-header;
  margin-top: 0.8em;
  font-size:1.8em;
}
.head-para2{
  @extend .head-para;
  font-size:0.8em;
}
.btn-custom{
  margin-top:2em;
  padding-left:  1.5em;
  padding-right: 1.5em;
  color:#fff;
  background-color: #4c3294;
  font-family: 'Merriweather Sans';
}
.btn-custom:hover{
  background-color: transparent;
  color:$dark_violet;
}
.line{
  position: absolute;
  width:100%;
  overflow: hidden;
  height:10%;
}
.line-1{
  z-index:15;
}
.line-2{
  opacity:0.7;
  z-index:10;
  margin-top: 1.4em;
}
.wave{
  position: absolute;
  left:0;
  width:200%;
  height:110%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.wave-1{
  background-size:50% 80px;
}
.wave-2{
  background-size:50% 100px;
}

// Body
.body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('pics/weather1.jpg');
  background-size: cover;
}
.form{
  margin-top:8em;
  margin-bottom: 8em;
  padding-left: 0.5em;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px 1px;
  width:25em;
  text-align: center;
  border-radius: 7px;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode:hue;
}
.parasol{
  height:4em;
  margin-top: 1.7em;
}
.form-heading{
  font-family:'Sansita Swashed';
  text-align: center;
  color:$dark_violet;
  border-bottom: 1px solid;
  margin-top: 0.5em;
  display: inline-block;
}
.form-fields{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width:100%;
}
.input-box{
  margin-bottom: 2em;
  padding-left: 1em;
  position: relative;
}
.form-control{
  height: 4em;
  width:94%;
  padding-left: 3.7em;
  background-color: #f0e1fa;;
}
.city{
  height:1.5em;
  opacity:0.3;
  position:absolute;
  left:8.8%;
  top:30%;
}
.temp{
  height:1.65em;
  opacity:0.4;
  position: absolute;
  left:8.8%;
  top:19%;
}
.input-box label{
  margin-top:1em;
  font-family: 'Merriweather Sans';
  font-size:0.8em;
  color:$dark_violet;
}
.button-box button{
  background-color: $violet;
  color:#fff;
  padding:0.5em 1em;
  font-family: 'Merriweather Sans';
  font-size: 1.1em;
  box-sizing: border-box;
  border:none;
  border-radius:12px;
  transition: all .3s ease;
  cursor:pointer;
  box-shadow: 2px 5px 4px #999;
  outline: none;
}
.button-box button:hover{

}
.button-box button:active{
  color:$dark_violet;
  background-color:transparent;
  border:1px solid $violet;
  box-shadow: 0 0px #666;
  transform: translate(2px,5px);
}
.social-link{
  margin-top:0.8em;
  margin-bottom:1em;
}
.touch{
  color:#5a1370;
  border-bottom: 1px solid $dark_violet;
  font-family: 'Merriweather Sans';
  font-size: 0.8em;
  font-weight: bold;
}
.touch:hover{
  color:$violet;
  text-decoration: none;
  border-bottom: 1px solid $violet;
}
//footer
.foot{
  text-align: center;
  margin-bottom: 0;
  height:6.5em;
  width:100%;
  background-image: linear-gradient(to bottom right,$blue,$violet,$purple);
  opacity: 0.8;
  font-family:'Raleway';
  color:#f0e1fa;
  .email{
    padding-top: 1.3em;
  }
}
